hw/Pynq-Z2/audio_lab/
hw/Pynq-Z2/NA
hw/Pynq-Z2/bitstreams
.Xil
vivado.jou
vivado.log
build_logs/

*.log
*.jou
*.htm

.ipynb_checkpoints

*.egg-info
__pycache__/
*.pyc
tests/test_rat_style_distortion

# Runtime GUI state file produced by GUI/pynq_multi_fx_gui.py
GUI/fx_gui_state.json
